
/* 
---------------------------------------------
parallax & home seperator
--------------------------------------------- 
*/
.mini {
    min-height: 215px;
    overflow: hidden;
    position: relative;
    padding-top: 50px;
    /* padding-bottom: 90px; */
  }
  
  .mini:before {
    content: '';
    position: absolute;
    width: 140%;
    height: 140%;
    opacity: .95;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-image: url(../images/work-process-bg.png);
    z-index: 2;
    top: -20%;
    left: -20%;
  }
  
  .mini .mini-content {
    position: relative;
    z-index: 3;
  }
  
  .mini .mini-content .info {
    text-align: center;
    color: #000;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  
  .mini .mini-content .info small {
    display: block;
    font-weight: 400;
    font-size: 13px;
    margin-bottom: 5px;
  }
  
  .mini .mini-content .info strong {
    font-weight: 700;
    font-size: 17px;
    margin-bottom: 40px;
    display: block;
  }
  
  .mini .mini-content .info h1 {
    color: #000;
    font-weight: 500;
    font-size: 28px;
    letter-spacing: 0.25px;
    margin-bottom: 30px;
  }
  
  .mini .mini-content .info p {
    letter-spacing: 1px;
    margin-bottom: 40px;
    color: #000;
    letter-spacing: 0.25px;
    line-height: 26px;
    font-weight: 400;
    font-size: 15px;
  }
  
  .mini .mini-content .info p span {
    text-decoration: underline;
  }
  
  .mini .mini-content .mini-box {
    display: block;
    background: #fff;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.08);
    margin-bottom: 30px;
    position: relative;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    text-align: center;
  }
  
  .mini .mini-content .mini-box:hover {
    margin-top: -10px;
  }
  
  .mini .mini-content .mini-box:before {
    content: '';
    position: absolute;
    z-index: -1;
    background: #fff;
    width: 100%;
    opacity: .15;
    height: 100%;
    bottom: -10px;
    left: 0px;
    right: -20px;
    margin: auto;
    border-radius: 20px;
  }
  
  .mini .mini-content .mini-box i {
    display: block;
    font-size: 20px;
    margin-bottom: 15px;
  }
  
  .mini .mini-content .mini-box span {
    display: block;
    font-weight: 400;
    font-size: 14px;
    color: #777;
    letter-spacing: .75px;
  }
  
  .mini .mini-content .mini-box strong {
    display: block;
    font-weight: 400;
    font-size: 17px;
    color: #1e1e1e;
    letter-spacing: 0.25px;
    margin-bottom: 5px;
    margin-top: 20px;
  }
  .bg-danger {
    background-color: #F76304!important;
  }
  .btn-outline-primary {
    color: #007bff;
    border-color: #007bff;
  }

  .btn-outline-primary {
    color: #007bff;
    border-color: #007bff;
  }
  .btn-outline-danger {
    color: #F76304;
    border-color: #F76304;
  }
  .btn-outline-danger:hover {
    background-color: #F76304;
    border-color: #F76304;
  }